<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>bSocial</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login_style.css' %}">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        function refresh() {
            $.ajax({
                url: "/api/token/refresh/",
                type: 'POST',
                data: {
                    'refresh': getCookie("refresh")
                },
                error: function (err) {
                    return
                },
                success: function (data) {
                    window.location.href="/";
                }
            });
        }
    </script>
</head>

<body class="text-center" onload="refresh()">
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    {% block script %}

    {% endblock %}
</body>

</html>