{% extends "main/base.html" %}

{% block tile %}Posts{% endblock %}

{% block content %}
<div class="row mt-3  mb-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="message">

        </div>
        <form id="create_form">
            <div class="card">
                <div class="card-header">
                    <h6>Create New Post</h6>
                </div>
                <div class="card-body pb-0">
                    <div class="form-group">
                        <textarea class="form-control" name="text" id="text" cols="30" rows="3"
                            placeholder="What's on your mind?"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="is_public"><input class="from-control" type="checkbox" name="is_public"
                                id="is_public">
                            Do
                            you want this post to be public?</label>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <input id="btn-submit" type="submit" class="btn btn-info" value="Submit">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <div class="card-header">
                <h6>Notifications</h6>
            </div>
            <div class="card-body overflow-auto" id="notifications">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="posts">
        </div>
        <div class="text-center mt-3 mb-3" id="loading">
            <button id="load_more" class="btn btn-info">Load more posts</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var limit = 5
    var offset = 0
    $(document).ready(function () {

        $("#create_form").submit(function (event) {
            event.preventDefault();
            make_post(this);
        })

        $(document).on("click", ".follow_btn", function () {
            follow(this);
        })

        load_posts(limit, offset)

        $("#load_more").click(function () {
            offset = offset + limit
            $(this).attr('disabled', true)
            setTimeout(function () {
                action = 'active'
                load_posts(limit, offset)
            }, 1000)
        })
    })

    function load_posts(limit, offset) {
        $.ajax({
            url: "/api/posts/",
            type: 'GET',
            data: { limit: limit, offset: offset },
            headers: { "Authorization": "Bearer " + getCookie('authorization') },
            error: function (err) {
                console.log(err)
                if (err.responseJSON.code == "token_not_valid") {
                    document.cookie = "authorization=''; expires=Fri, 31 Dec 2030 23:59:59 GMT;path=/";
                    document.cookie = "refresh=''; expires=Fri, 31 Dec 2030 23:59:59 GMT;path=/";
                    window.location.href = "/auth/login";
                }

            },
            success: function (data) {
                posts = data.results
                if (posts.length === 0) {
                    $("#load_more").hide()
                    $("#loading").append("<p>No more posts</p>")
                } else {
                    $("#posts").append('')
                    $.each(posts, function (i) {
                        follow_btn = ''
                        if (posts[i].following == false) {
                            follow_btn = '<button data-id="' + posts[i].user.username + '" class="btn btn-success btn-sm follow_btn">follow</button>'
                        } else {
                            follow_btn = '<button data-id="' + posts[i].user.username + '" class="btn btn-danger btn-sm follow_btn">unfollow</button>'
                        }

                        str = '<div class="card mb-3">' +
                            '<div class="card-header d-flex justify-content-between">' +
                            '<span class="align-middle">' + posts[i].user.first_name + ' ' + posts[i].user.last_name + ' ' + follow_btn + '</span>' +
                            '<span class="">' + posts[i].created_at + '</span>' +
                            '</div>' +
                            '<div class="card-body">' +
                            '<p>' + posts[i].text + '</p>' +
                            '</div>' +
                            '<div class="card-footer">' +
                            '<div class="float-right">' +
                            '<a href="/post/' + posts[i].id + '"><span class="align-middle"><i class="fa fa-comment fa-lg text-info"></i></span></a>' +
                            '</div>' +
                            '</div>' +
                            '</div>';

                        $("#posts").append(str)
                    })
                }
            },
            complete: function () {
                $("#load_more").attr('disabled', false)
            }
        });
    }

    function make_post(form_send) {
        var text = $("#text").val()

        if (text.length === 0) {
            var message = '<div class="alert alert-danger alert-dismissible" id="error">' +
                '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                'Post cannot be empty' +
                '</div>';
            $("#message").append(message);
            return
        }

        var form = $(form_send);
        var isChecked = $("input:checkbox").is(":checked") ? 1:0; 
        var text = $("#text").val()

        $.ajax({
            url: "/api/posts/create/",
            type: 'POST',
            data: {
                text: text,
                is_public: isChecked
            },
            headers: { "Authorization": "Bearer " + getCookie('authorization') },
            beforeSend: function () {
                $("#btn-submit").prop('disabled', true)
            },
            error: function (err) {
                var message = '<div class="alert alert-danger alert-dismissible" id="error">' +
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                    err.responseJSON +
                    '</div>';
                $("#message").html(message);
            },
            success: function (data) {
                var message = '<div class="alert alert-success alert-dismissible" id="error">' +
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                    'Post successfully created' +
                    '</div>';
                $("#message").html(message);
                $(form_send).trigger("reset");
            },
            complete: function () {
                $("#btn-submit").prop('disabled', false)
            }
        });
    }

    function follow(button) {
        following = $(button).data("id");

        $.ajax({
            url: "/api/users/follow/",
            type: 'POST',
            data: {
                'following': following + '',
            },
            headers: { "Authorization": "Bearer " + getCookie('authorization') },
            error: function (err) {
                $("#message").html(err.responseJSON.detail)
            },
            success: function (data) {
                if (data.data === "following") {
                    var message = '<div class="alert alert-success alert-dismissible" id="error">' +
                        '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        'You are now following <b>' + following + '</b>' +
                        '</div>';
                } else {
                    var message = '<div class="alert alert-info alert-dismissible" id="error">' +
                        '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        'You are not following <b>' + following + '</b> anymore' +
                        '</div>';
                }
                offset = 0
                $("#posts").html('');
                $("p").filter(":contains('No more posts')").remove()
                $("#load_more").show();
                load_posts(limit, offset);
                $("#message").html(message);
            },
            complete: function () {
                $("#btn-submit").prop('disabled', false)
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const webSocketBridge = new channels.WebSocketBridge();

        webSocketBridge.connect("/notifications/");
        webSocketBridge.listen(function (action, stream) {
            console.log("RESPONSE:", action);
            if (action.event === "New Post") {
                load_posts();
                var el = document.createElement("li");
                el.innerHTML = `User <b>${action.username}</b> made a post: <b>${action.post_text}</b>!`;
                $('#notifications').append(el);
            } else if (action.event === "New Following") {
                var el = document.createElement("li");
                el.innerHTML = `User <b style="color: green">${action.follower}</b> started following you!`;
                $('#notifications').append(el);
            } else if (action.event === "New Comment") {
                var el = document.createElement("li");
                el.innerHTML = `User <b style="color: green">${action.username}</b> has made a comment: <b style="color: green">${action.comment_text}</b> on your post: <b style="color: green">${action.post_text}</b> !`;
                $('#notifications').append(el);
            }

        })
        document.ws = webSocketBridge; /* for debugging */
    })

</script>
{% endblock %}