{% extends "main/base.html" %}

{% block tile %}Posts{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="message">

        </div>
        <div class="card" id="post_details">
            <div class="card-header d-flex justify-content-between">
                <span class="align-middle">{{ user.first_name }} {{ user.last_name }}</span>
                <span class="">{{ post.created_at }}</span>
            </div>
            <div class="card-body">
                <p>{{ post.text }}</p>
            </div>
            <div class="card-footer">

                <form action="" id="form_reply">
                    <div class="form-group">
                        <textarea class="form-control" name="text" id="text" cols="30" rows="3"
                            placeholder="Comment here..."></textarea>
                    </div>
                    <button type="submit" id="btn-submit" class="btn btn-info">Reply</button>
                </form>
            </div>
            <div class="list-group" id="comments_list">
                
            </div>
        </div>
    </div>
</div>
<div class="col-md-3"></div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

    $(document).ready(function () {
        $("#form_reply").submit(function (event) {
            event.preventDefault();
            make_comment(this);
        })

        load_comments();
    })

    function load_comments() {
        $.ajax({
            url: "/api/posts/{{ post.id }}/",
            type: 'GET',
            headers: { "Authorization": "Bearer " + getCookie('authorization') },
            error: function (err) {
                console.log(err)
                if (err.responseJSON.code == "token_not_valid") {
                    document.cookie = "authorization=''; expires=Fri, 31 Dec 2030 23:59:59 GMT;path=/";
                    document.cookie = "refresh=''; expires=Fri, 31 Dec 2030 23:59:59 GMT;path=/";
                    window.location.href = "/auth/login";
                }
            },
            success: function (data) {
                $("#comments_list").html('')
                comments = data.comments
                if (comments.length === 0) {
                    $("#comments_list").html('<p class="text-center">No comments</p>')
                } else {
                    $("#posts").append('')
                    $.each(comments, function (i) {

                        str = '<div class="list-group-item list-group-item-action flex-column align-items-start">' +
                            '<p class="mb-1">' + comments[i].text + '</p>' +
                            '<div class="d-flex w-100 justify-content-between">' +
                            ' <small class="text-strong">' + data.user.first_name + ' ' + data.user.last_name + '</small>' +
                            ' <small class="text-muted">' + comments[i].created_at + '</small>' +
                            '</div>' +
                            '</div>';

                        $("#comments_list").append(str)
                    })
                }
            },
        });
    }

    function make_comment(form_send) {
        var text = $("#text").val()

        if (text.length === 0) {
            var message = '<div class="alert alert-danger alert-dismissible" id="error">' +
                '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                'Comment cannot be empty' +
                '</div>';
            $("#message").append(message);
            return
        }

        var form = $(form_send);
        var data = form.serialize();
        console.log(data)

        $.ajax({
            url: "/api/comments/create/",
            type: 'POST',
            data: {
                text: text,
                post: '{{ post.id }}'
            },
            headers: { "Authorization": "Bearer " + getCookie('authorization') },
            beforeSend: function () {
                $("#btn-submit").prop('disabled', true)
            },
            error: function (err) {
                var message = '<div class="alert alert-danger alert-dismissible" id="error">' +
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                    err.responseJSON.detail +
                    '</div>';
                $("#message").html(message);
            },
            success: function (data) {
                load_comments()
                var message = '<div class="alert alert-success alert-dismissible" id="error">' +
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                    'Comment successfully posted' +
                    '</div>';
                $("#message").html(message);
                $(form_send).trigger("reset");
            },
            complete: function () {
                $("#btn-submit").prop('disabled', false)
            }
        });
    }

</script>
{% endblock %}